/* Tailwind CSS { */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .container{
    @apply max-w-[1280px] mx-auto
  }
}


/* } Tailwind CSS */

/* CSS { */
  
  /* Reusable CSS Variables */
  :root {
    --black: #000;
    --white: #fff;
    --transparent: rgba(0, 0, 0, 0);
  }

    /* Box sizing rules */
  *,
  *::before,
  *::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  /* } CSS */